@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 4

   Park City Gazette Style Sheet
   Author: Aiden Martinez
   Date:   10/29/2018

   Filename:         pcg_paper.css
   Supporting Files: 

*/
html {
    min-width: 640px;
    max-width: 960px;
}

nav#links2 {
    display: block;
}

nav#links2>ul>li {
    background-color: darkgray;
    list-style-type: none;
    width: 150px;
    text-align: center;
}

nav#links2>ul>li>a {
    color: aqua;
    text-decoration: unset;
}

nav#links2>ul>li:hover,
nav#links2>ul>li>a:hover {
    color: white;
    background-color: orange;
    padding: 7.5px;
    transition: 0.30s;
}

a:link {
    text-decoration-line: none;
}

a:visited {
    color: orange;
}

div.story1 {
    background-color: lightgreen;
    border-style: groove;
}

div.story1:hover {
    background-color: orange;
    border-style: inset;
    transition: 0.5s;
}

div.story2 {
    background-color: aliceblue;
    border-style: groove;
}

div.story2:hover {
    background-color: orange;
    border-style: inset;
    transition: 0.5s;
}

div.story3 {
    background-color: lightcoral;
    border-style: groove;
}

div.story3:hover {
    background-color: orange;
    border-style: inset;
    transition: 0.5s;
}

div.story4 {
    background-color: lightyellow;
    border-style: groove;
}

div.story4:hover {
    background-color: orange;
    border-style: inset;
    transition: 0.5s;
}